fastapi
uvicorn
pydantic
python-dotenv
langchain-community
langchain-pinecone
elevenlabs
pyaudio
pinecone-notebooks
openai
openai-agents
requests
aipolabs
langgraph
twilio
openai-agents[voice]
curses





